<%- include('../partials/userHeader') %>

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
  <h2 class="ltext-105 cl0 txt-center">
    About
  </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
  <div class="container">
    <div class="row p-b-148">
      <div class="col-md-7 col-lg-8">
        <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
          <h3 class="mtext-111 cl2 p-b-16">
            Welcome to Coza Store
          </h3>

          <p class="stext-113 cl6 p-b-26">
			Welcome to Coza Store, your premier destination for a seamless and satisfying online shopping experience. At Coza Store, we pride ourselves on offering a curated selection of high-quality products that cater to your diverse needs and preferences. Whether you're searching for the latest fashion trends, cutting-edge electronics, or home essentials, we've got you covered. Our user-friendly interface ensures a hassle-free browsing experience, and our secure checkout process guarantees a safe and reliable transaction every time. Committed to customer satisfaction, we strive to exceed your expectations by providing exceptional customer service and swift delivery. Coza Store isn't just a website; it's your go-to destination for a world of convenience and style. Join us in exploring the endless possibilities of online shopping, where quality meets convenience at Coza Store.
		  </p>

          <p class="stext-113 cl6 p-b-26">
			Discover a world of endless possibilities at Coza Store, where innovation and convenience converge to redefine your online shopping experience. Our commitment to excellence is reflected in the meticulously curated selection of products that cater to your lifestyle needs. From fashion-forward apparel to cutting-edge electronics and essential home goods, Coza Store is your one-stop destination for quality and style. Navigating our intuitive platform is a breeze, ensuring you find exactly what you're looking for with ease. Embrace the future of online shopping with our secure checkout process, guaranteeing a safe and reliable transaction every time. At Coza Store, customer satisfaction is our priority, and we go the extra mile to provide exceptional service and prompt deliveries. Join us on a journey where convenience meets sophistication, and let Coza Store elevate your online shopping experience to new heights.
		  </p>
        </div>
      </div>

      <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
        <div class="how-bor1 ">
          <div class="hov-img0">
            <img src="images/about-01.jpg" alt="IMG">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/userFooter') %>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
  <span class="symbol-btn-back-to-top">
    <i class="zmdi zmdi-chevron-up"></i>
  </span>
</div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<script>
  $(".js-select2").each(function() {
    $(this).select2({
      minimumResultsForSearch: 20,
      dropdownParent: $(this).next('.dropDownSelect2')
    });
  })
</script>
<!--===============================================================================================-->
<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
  $('.js-pscroll').each(function() {
    $(this).css('position', 'relative');
    $(this).css('overflow', 'hidden');
    var ps = new PerfectScrollbar(this, {
      wheelSpeed: 1,
      scrollingThreshold: 1000,
      wheelPropagation: false,
    });

    $(window).on('resize', function() {
      ps.update();
    })
  });
</script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>

</html>